* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: gilroy;
  color: white;
}

html,
body {
  height: 100%;
  width: 100%;
}

#page1 {
  height: 100%;
  width: 100%;
  background-color: lightblue;
  display: flex;
  justify-content: center;
  align-items: center;
}

#page2 {
  height: 100%;
  width: 100%;
  background-color: rgb(50, 209, 226);
  display: flex;
  justify-content: center;
  align-items: center;
}

#page3 {
  height: 100%;
  width: 100%;
  background-color: rgb(15, 176, 230);
  display: flex;
  justify-content: center;
  align-items: center;
}

#box {
  height: 150px;
  width: 150px;
  background-color: white;
}